{% extends "base.html" %}

{% block content %}
    <h1>Add author</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.title1.label }}<br>
            {{ form.title1(size=64) }}<br>
            {% for error in form.title1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.title2.label }}<br>
            {{ form.title2(size=64) }}<br>
            {% for error in form.title2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.title3.label }}<br>
            {{ form.title3(size=64) }}<br>
            {% for error in form.title3.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.title4.label }}<br>
            {{ form.title4(size=64) }}<br>
            {% for error in form.title4.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.title5.label }}<br>
            {{ form.title5(size=64) }}<br>
            {% for error in form.title5.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}