{% extends "Base.html" %}

{% block content %}
    <style>
   table {
    width: 100%;
   }
  </style>
    <h1 align="center">{{ book.name }}</h1>
    <p>Authors:
    {% for author in book.authors %}
        {{ author.name }}
    {% endfor %}</p>
    <table style="font-size:1.5em">
        <tbody>
            <tr>
                <th><img src="{{ book.show_image() }}" width="400" height="500"></th>
                <th>
                    <div><p>You might be interested:</p></div>
                    {% for book in books %}
                    <div><p><a href="{{ url_for('book', name=book.name) }}">{{  book.name }}</a></p></div>
                    {% endfor %}
                </th>
            </tr>
            <tr>
                <th><div><p><a href="{{ book.text }}">Download the book</a></p></div></th>
                <th></th>
            </tr>
        </tbody>
    </table>
{% endblock %}